body {

	font-size: 100%;
	/*font-family: "Segoe UI Light",Tahoma , Arial, Helvetica, Sans-Serif;*/
	font-family:"Segoe UI",Tahoma, Arial, Helvetica;

	color: #000;
	line-height: 150%;
	background: #FFF;
	
	margin: 0px;
	padding: 0px;
	min-width: 1056px;
}

p {
	margin: 5px 0px 10px 0px;
	padding: 0px;
	line-height: 150%;
	font-size: 10pt;
}


ul {
	margin: 5px 0px 0px 0px;
	padding: 0px;
	list-style: square;
}

li {
	font-size: 10pt;
	margin: 0px 0px 5px 1.2em;
	padding: 0px;
	line-height: 125%;
	list-style: outside url('dot.png');
}

ol {
	margin: 0px;
	padding: 0px;
	list-style: decimal;
}

ol li {
	font-size: 10pt;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	margin-left: 2em;
	list-style-type: decimal;
}


/* links */

a,
a:link,
a:visited,
a:active {
	color: #1570A6;
	text-decoration: none;
	clear: none;
}
a:hover {
	color:#0072c6;
	text-decoration: underline;
}

.more {
	background: url('more.png') no-repeat right top;
	padding-right: 26px;
	padding-top: 0px;
	padding-bottom: 4px;
	font-family: "Segoe UI",Tahoma,Helvetica,Sans-Serif;
	font-size: 12.93px;
	font-weight: 600;
}

.more:hover{
	text-decoration: none;
}

.moreFrame{
margin-top:10px;
margin-bottom:10px;
}


.flatButton{
	font-family: 'Segoe UI SemiBold','Segoe UI', Arial, sans-serif;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px 5px 15px;
	/*font-size: 0.875em;*/
	font-size:13.64px;
	background: #00AEEE;
	color: #FFF;
	border: 0px none;
	outline: 0px none;
	cursor: pointer;
}

.flatButton:visited,
.flatButton:link{
	text-decoration: none;	
	color: white;
}
.flatButton:hover {
	background: #0090C6;
	text-decoration: none;	
	color: white;
}
.flatButton:active {
	background: #007ACC;
	text-decoration: none;	
	color: white;
}

label {
	cursor: pointer;
}


/* other */

img {
	border: none;
	vertical-align: middle;
}

hr {
	margin: 2px 20px 2px 20px;
	height: 1px;
	border: 0;
	border-top: 1px #DDDDDD dashed;
}

.doublehr {
	height: 3px;
	border: 0;
	border-top: 3px #CCCCCC double;
}

h1 {
    font-size: 42px;
	line-height: 1.25;
	
	color: #000;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: "Segoe UI Light","Segoe UI","Trebuchet MS", Tahoma, Arial, Helvetica;
	font-weight: lighter;
}

h2 {
	font-size: 32px;
	line-height: 1.25;
	color: #000;
	margin: 0px 0px 5px 0px;
	padding: 0.4em 0px 0.1em 0px;
	font-family: "Segoe UI Light","Segoe UI","Trebuchet MS", Tahoma, Arial, Helvetica;
	font-weight: lighter;
}

.contentBorder{
margin: 0px auto 0px auto; /* align - center */
}

.contentBorderGray{
	margin: 0px auto 0px auto;
	background-color: #f0f0f0;
}

.contentBorderDarkGray{
	margin: 0px auto 0px auto;
	background-color: #353743;
}

.contentBorderDarkGray h1, .contentBorderDarkGray h2 , .contentBorderDarkGray p, .contentBorderDarkGray li{ 	
	color: #fff;
}


.contentDivider{
	background-color: #f0f0f0;
	display: block;	
	height:5px;
    margin-left:auto;
    margin-right:auto;
}


.content{
	display: block;
	line-height: 100%;
	overflow: hidden;
	font-family: "Segoe UI",Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12.73px;
	font-weight: normal;
	width: 1024px;
    margin-left:auto;
    margin-right:auto; 
}



/****** Footer Block ******/
.footer{
	font-size: 75%;
	clear: both;
	color: #666666;
	margin: 1px auto 0px auto;
	width: 1024px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #e0e0e0;
	border-top-style: solid;
}

.footer a:link,
.footer a:visited,
.footer a:active,
.footer a:hover {
	color: #444;
}

.footer a:hover {
	color: #000;
	text-decoration: none;
}

.vline{
	padding-left: 10px;
	padding-right: 10px;
}


img.centerImg{
display:block;
margin-left:auto;
margin-right:auto; 
}


.centerObj{
display:block;
margin-left:auto;
margin-right:auto; 
}

.cellline{
	min-height: 40px;
	margin-bottom:10px;
	display: block;
	clear:both;
}
.clear{
clear:both;
}

.cell_1, .cell_2, .cell_3, .cell_v_div{
	
	display: inline-block;
	display: block;float: left;
	/*vertical-align: top;*/
}

.cell_1 h2, .cell_2 h2, .cell_3 h2, .cell_v_div h2{
	font-size: 19px;
	font-family: "Segoe UI Semibold","Segoe UI",Tahoma,Helvetica,Sans-Serif;
    line-height: 25px;
    margin-bottom: 10px;
}
.cell_1 {
    
    width:235px;
}
.cell_2 {
    width:498px;
}
.cell_3 {
    width:761px;
}

.cell_v_div {
	min-height: 40px;
	width:28px;
}
