
.tree-view .group
{

}
.tree-view .group-c
{
}
.tree-view .items{
	margin-left:12px;
}

.tree-view .selected{
}

.tree-view .group-c .items{
	margin-left:12px;
	display:none;
}


.tree-view .icon, .tree-view .open, .tree-view .mesh, .vis, .hdn, .markup,.camera{
	background-image:url('treeicons.png');
	height: 16px;
	width: 16px;
	display:block;
	float:left;

}

.tree-view .icon{background-position:-128px,0px;}	
.tree-view .open{background-position:-16px,0px;}
.tree-view .open:hover{background-position:-48px,0px;}
.tree-view .mesh{background-position:-160px,0px;}
.tree-view .markup{background-position:-256px,0px;}
.tree-view .camera{background-position:-192px,0px;}
.tree-view .vis{background-position:-80px,0px;}
.tree-view .hdn{background-position:-64px,0px;}


.tree-view .group-c .open{background-position:0px,0px;}
.tree-view .group-c .open:hover{background-position:-32px,0px;}


.tree-view .item,.tree-view .gitem
{
	display: block;
	cursor:pointer;
	height: 18px;
}

.tree-view .item{
	margin-left:16px;
}
.tree-view .label{
	height: 18px;
	padding-left:4px;
	padding-right:4px;
	display:inline-block;
	padding-top:0px;
	font-family: "Segoe UI",Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12.73px;
}


.tree-view .item:hover .label,.tree-view .gitem:hover .label{
 background-color:#E5F3FB;
}

.tree-view .selected .label,.tree-view .selected:hover .label{
 background-color:#007ACC;
 color:white;
}

